audit=false
depth=0
fetch-retry-maxtimeout=10000
fetch-retry-mintimeout=2000
fund=false
init-license=MIT
init-version=0.0.0
loglevel=warn
long=false
optional=false
preid=rc
progress=false
save-exact=true
save-prefix=~
unicode=true
usage=true
versions=false
