{{- if eq .chezmoi.os "linux" }}
/home/anhdle14/.config/dotfiles/submodules/.tmux/.tmux.conf
{{- else if eq .chezmoi.os "darwin" }}
/Users/anhdle14/.config/dotfiles/submodules/.tmux/.tmux.conf
{{- end }}