{{- if eq .chezmoi.os "linux" }}
{{ .chezmoi.homeDir }}/.config/dotfiles/submodules/.tmux/.tmux.conf
{{- else if eq .chezmoi.os "darwin" }}
{{ .chezmoi.homeDir }}/.config/dotfiles/submodules/.tmux/.tmux.conf
{{- end }}
