<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.crystalidea.macsfancontrol.smcwrite</string>
	<key>MachServices</key>
	<dict>
		<key>com.crystalidea.macsfancontrol.smcwrite</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/com.crystalidea.macsfancontrol.smcwrite</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/com.crystalidea.macsfancontrol.smcwrite</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
