<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.rugarciap.TurboBoost260Helper</string>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/com.rugarciap.TurboBoost260Helper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/com.rugarciap.TurboBoost260Helper</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
